.split {
  display: flex;
  justify-content: space-between;
}

.container,
.card,
.accordion {
  margin-top: 1em;
}

.card:last-of-type {
  margin-bottom: 1em;
}

.App {
  margin-bottom: 5em;
}

.accordion {
  margin-bottom: 2em;
}

.footer {
  font-style: italic;
  font-weight: 100;
}